<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='notes && notes.length'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let note of notes'>
              <td>
                <a>
                  {{ note.title }}
                </a>
              </td>
              <td>{{ note.category | lowercase }}</td>
              <td>{{ note.content }}</td>
              <td>
                <a [routerLink]="[note.id, 'detail']">Details</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
