<div class="card">
  <div class="card-header">Weather
    <button class="btn btn-light btn-sm float-right" (click)="close()">
      X
    </button>
  </div>
  <div class="card-body">
    <div class="message-row">
      {{ weatherInfo }}
    </div>
  </div>
</div>
