<!-- Main part of the menu-->
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{title}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/welcome']"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="'/notes'"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact : true}">Notes List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['notes',0,'edit']"
         routerLinkActive="active">Add Note</a>
    </li>
    <li class="nav-item" *ngIf="!isWeatherDisplayed">
        <a class="nav-link"
           (click)="displayWeather()"
           routerLinkActive="active">Show weather</a>
      </li>
      <li class="nav-item" *ngIf="isWeatherDisplayed">
          <a class="nav-link"
             (click)="hideWeather()"
             routerLinkActive="active">Hide weather</a>
        </li>
  </ul>

  <!-- Left justified part of the menu -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/login']">Welcome User</a>
    </li>
    <li class="nav-item"
        >
      <a class="nav-link">Log In</a>
    </li>
  </ul>
</nav>
<div>

<div class="container">
  <div class="row">
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-2">
        <router-outlet name="weather"></router-outlet>
    </div>
  </div>

</div>
